<h1>New User</h1>
<% form_for(@user) do |f| %>
<p>
We’ll be sending you to Twitter in a moment to login and grant us access.
Once you allow us in we’ll give you the super-cool feature
you’ve heard about.
</p>
<p>
<%= f.submit "Grant Access" %>
</p>
<% end %>
<%= link_to 'Back', users_path %>
